@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&family=Roboto&display=swap');

:root {
  --gunmetal: #1B1D22;
  --ivory: #F2F5EA;
  --orange: #FE9000;
  --indigo: #9B7EDE;
  --rufous: #9B2915;
}

.indigo {
  color: var(--indigo);
}

.rufous {
  color: var(--rufous);
}

.orange {
  color: var(--orange);
}

.magic {
  background: linear-gradient(to top left, rgb(70, 70, 241), rgb(215, 15, 15));

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,body {
  padding: 0;
  margin: 0;

  background-color: var(--gunmetal);
  color: var(--ivory);
  font-family: 'Poppins', sans-serif;
}

.center {
  text-align: center;
}